{% extends 'main.html' %} {% load static %} {% block content %}
{% url 'login' as login %}

<body style="background-image: url('{% static  "images/login.jpg" %}');">

  <div class="d-flex p-5 m-5 m-0 p-0  flex-column  justify-content-center align-items-center">
    {% if request.path == login %}
    <form class=" auth-form w-sm-50 mx-auto  bg-black position-relative" method="POST" action=" {% url 'login' %} ">
      {% csrf_token %}
      <div class="d-flex flex-column justify-content-center-align-items-center">
        <h1 class="text-white  fw-bolder text-center">Login</h1>
        <hr class="hr">
        <input type="text" class="form-control form__login-input border-right-0 border-left-0 border-top-0 my-3"
          name="username" placeholder="Enter Username" required />

        <input type="password" class="form-control form__login-input border-right-0 border-left-0 border-top-0"
          name="password" placeholder="Enter Password" required />
        <button type="submit" class="btn btn-info mt-2"> Login </button>
        {% for message in messages %}

        <h5 class="text-danger text center"> {{message}} </h5>

        {% endfor %}

        <a class="nav-link" href="{% url 'register' %}" target="_blank" rel="noopener noreferrer">
          <h6 class="mt-3 mb-0 text-center"> Don't Have an Account?</h6>
        </a>

      </div>
    </form>


    {% else %}


    <form class=" auth-form w-sm-50 mx-auto  bg-black position-relative" method="POST" action=" {% url 'register' %} ">
      {% csrf_token %}
      <div class="d-flex flex-column justify-content-center-align-items-center">
        <h1 class="text-white  fw-bolder text-center">Register</h1>
        <hr class="hr">
        <input type="text" class="form-control form__login-input border-right-0 border-left-0 border-top-0 my-3"
          name="username" placeholder="Enter Username" required />
          <input type="text" class="form-control form__login-input border-right-0 border-left-0 border-top-0 my-3"
          name="email" placeholder="Enter Email" required />


        <input type="password" class="form-control form__login-input border-right-0 border-left-0 border-top-0"
          name="password" placeholder="Enter Password" required />
          <input type="password" class="form-control form__login-input border-right-0 border-left-0 border-top-0"
          name="password2" placeholder="Confirm Password" required />

        <button type="submit" class="btn btn-info mt-2"> Register </button>

        {% for message in messages %}

        <h5 class="text-danger text center"> {{message}} </h5>

        {% endfor %}

        <a class="nav-link" href="{% url 'login' %}" target="_blank" rel="noopener noreferrer">
          <h6 class="mt-3 mb-0 text-center"> Already Have an Account?</h6>
        </a>

      </div>
    </form>

    {% endif %}


  </div>

</body>

{% endblock content %}